html {
  font-family: sans-serif;
}

input:focus,
button:focus {
  outline: none;
}

h1 {
  margin-bottom: 1.5%;
  text-emphasis: none;
  font-weight: normal;
}

form {
  margin-bottom: 0;
}

li {
  border-bottom: 1px solid lightgray;
  padding: 15px;
}

li:last-of-type {
  border-bottom: 0;
}

input {
  width: 70%;
  border: none;
  border-radius: 4px;
}

button {
  margin-left: 2%;
  background-color: rgb(0, 132, 255);
  color: white;
  border: none;
  border-radius: 4px;
}

li div {
  float: right;
  width: 25%;
}

ul.list {
  padding: 0;
  list-style: none;
  /* text-align: center; */
  border: 1px solid lightgray;
  border-radius: 4px;
}

.listbox {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.fist {
}

.edit {
  background-color: darkgrey;
  float: left;
}

.delete {
  background-color: red;
  float: right;
}

div.page {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.punch {
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  background-color: lightgray;
  width: 500px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 1%;
}

button.test-local {
  background-color: default;
  color: white;
  border: none;
}
/* 
span.single-punch {
  float: left;
} */

.test {
  text-align: center;
}
